<div class="container">
  <div class="buttons">
    <button style="height: 50px" (click)="getCandidates()">
      Get All Candidates
    </button>
    <button style="height: 50px" (click)="addCandidate()">
      Create Candidate
    </button>
  </div>
  

  <table>
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Position</td>
        <td>City</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of candidates; let i = index">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.position}}</td>
        <td>{{item.city?.name}}</td>
        <td><button (click)="editCandidate(i)" >Edit</button> <button (click)="deleteCandidate(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="createModal" class="createCandidate">
  <form [formGroup]="createForm" (ngSubmit)="addCandidate()">
    <label for="name">Name</label>
    <input type="text" placeholder="Enter Name: " id="name" formControlName="name" />
    <label for="city">City</label>
    <input type="text" placeholder="Enter City: " id="city" formControlName="city"/>
    <label for="position">Position</label>
    <input type="text" placeholder="Enter Position: " id="position" formControlName="position"/>
    <button id="addBtn">Add Candidate</button>
  </form>
</div>


<div *ngIf="editModal" class="createCandidate">
  <form [formGroup]="createForm" (ngSubmit)="editCandidate()">
    <label for="name">Name</label>
    <input type="text" placeholder="Enter Name: " id="name" formControlName="name" />
    <label for="city">City</label>
    <input type="text" placeholder="Enter City: " id="city" formControlName="city"/>
    <label for="position">Position</label>
    <input type="text" placeholder="Enter Position: " id="position" formControlName="position"/>
    <button id="addBtn">Edit Candidate</button>
  </form>
</div>