<div class="header">
  <div class="title">
    <a routerLink="">Voting App</a>
  </div>

  <div class="nav-items">
    <a (click)="navigateToCandidates()">Candidates</a>
    <a (click)="navigateToVoters()">Voters Portal</a>
    <a href="">Results</a>
  </div>
</div>

<div class="container">
  <table>
    <thead>
      <tr>
        <td class="headTD">Id</td>
        <td class="headTD">Name</td>
        <td class="headTD">Position</td>
        <td class="headTD">City</td>
        <td class="headTD">Actions</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of candidates; let i = index">
        <td class="dataTd">{{ item?.id }}</td>
        <td class="dataTd">{{ item?.name }}</td>
        <td class="dataTd">{{ item?.position }}</td>
        <td class="dataTd">{{ item?.city }}</td>
        <td class="ctrlTd">
          <button
            class="actionBtn"
            (click)="editCandidate(i)"
            style="
              background-color: rgb(255, 255, 60);
              color: black;
              margin-right: 10px;
            "
          >
            Edit
          </button>
          <button
            class="actionBtn"
            (click)="deleteCandidate(i)"
            style="background-color: rgb(255, 103, 103); margin-left: 10px"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="buttons">
    <p>Control Panel</p>
    <button
      class="ctrlBtn"
      style="height: 50px; width: 150px; color: black; margin-bottom: 20px"
      (click)="getCandidates()"
    >
      Get All Candidates
    </button>
    <button
      class="ctrlBtn"
      style="height: 50px; width: 150px; color: black; margin-bottom: 20px"
      (click)="addCandidate()"
    >
      Create Candidate
    </button>
  </div>
</div>

<div *ngIf="createModal" class="createCandidate">
  <form [formGroup]="createForm" (ngSubmit)="addCandidate()">
    <label for="name">Name</label>
    <input
      type="text"
      placeholder="Enter Name: "
      id="name"
      formControlName="name"
    />
    <label for="city">City</label>
    <select formControlName="city" id="city">
      <option *ngFor="let item of cities" [ngValue]="item">
        {{ item }}
      </option>
    </select>
    <label for="position">Position</label>
    <input
      type="text"
      placeholder="Enter Position: "
      id="position"
      formControlName="position"
    />
    <button type="submit" id="addBtn">Add Candidate</button>
  </form>
</div>

<div *ngIf="editModal" class="createCandidate">
  <form [formGroup]="createForm" (ngSubmit)="editCandidate()">
    <label for="name">Name</label>
    <input
      type="text"
      placeholder="Enter Name: "
      id="name"
      formControlName="name"
    />
    <label for="city">City</label>
    <select formControlName="city" id="city">
      <option *ngFor="let item of cities" [value]="item">
        {{ item }}
      </option>
    </select>
    <label for="position">Position</label>
    <input
      type="text"
      placeholder="Enter Position: "
      id="position"
      formControlName="position"
    />
    <button type="submit" id="addBtn">Edit Candidate</button>
  </form>
</div>
