<div class="header">
  <div class="title">
    <a routerLink="">Voting App</a>
  </div>


  <div class="nav-items">
    <a (click)="navigateToCandidates()">Candidates</a>
    <a (click)="navigateToVoters()">Voters Portal</a>
    <a href="">Results</a>
  </div>
</div>

<div class="container">
  <div class="buttons">
    <button style="height: 50px" (click)="getCandidates()">
      Get All Candidates
    </button>
    <button style="height: 50px" (click)="addCandidate()">
      Create Candidate
    </button>
  </div>
  

  <table>
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Position</td>
        <td>City</td>
        <td>Actions</td>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of candidates; let i = index">
        <td>{{item?.id}}</td>
        <td>{{item?.name}}</td>
        <td>{{item?.position}}</td>
        <td>{{item?.city}}</td>
        <td><button (click)="editCandidate(i)" >Edit</button> <button (click)="deleteCandidate(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="createModal" class="createCandidate">
  <form [formGroup]="createForm" (ngSubmit)="addCandidate()">
    <label for="name">Name</label>
    <input type="text" placeholder="Enter Name: " id="name" formControlName="name" />
    <label for="city">City</label>
    <select formControlName="city" id="city">
      <option *ngFor="let item of cities" [ngValue]="item">
        {{item}}
      </option>
    </select>
    <label for="position">Position</label>
    <input type="text" placeholder="Enter Position: " id="position" formControlName="position"/>
    <button type="submit" id="addBtn">Add Candidate</button>
  </form>
</div>


<div *ngIf="editModal" class="createCandidate">
  <form [formGroup]="createForm" (ngSubmit)="editCandidate()">
    <label for="name">Name</label>
    <input type="text" placeholder="Enter Name: " id="name" formControlName="name" />
    <label for="city">City</label>
    <select formControlName="city" id="city">
      <option *ngFor="let item of cities" [value]="item">
        {{item}}
      </option>
    </select>
    <label for="position">Position</label>
    <input type="text" placeholder="Enter Position: " id="position" formControlName="position"/>
    <button type="submit" id="addBtn">Edit Candidate</button>
  </form>
</div>