<div class="header">
  <div class="title">
    <a href="">Voting App</a>
  </div>

  <div class="nav-items">
    <router-outlet></router-outlet>
    <a (click)="navigateToVote()">Vote Now</a>
    <a (click)="navigateToCandidates()">Candidates</a>
    <a (click)="navigateToResults()">Results</a>
  </div>
</div>

<div class="container">
  <h1>Voter portal: select voter & Cast vote screen</h1>

  <div class="votingSection">
    
    <label for="candidate">Select Voter</label>
    <select [(ngModel)]="selectedVoter" id="candidate">
      <option *ngFor="let item of voters; let index = index" [value]="item.id">
        {{ item.name }}
      </option>
    </select>
    <button (click)="selectVoter()" id="voteBtn">Select Candidate</button>

  
    <form (ngSubmit)="castVote()" *ngIf="selectedCity !== undefined" (ngSubmit)="castVote()" [formGroup]="voteForm">

      <label for="senator">Select Senator to vote for:</label>
      <select formControlName="senator" id="senator">
        <option *ngFor="let item of senators; let c = index" [value]="item.id">
          {{ item.name }}
        </option>
      </select>

      <label for="congressman">Select Congressman to vote for:</label>
      <select formControlName="congressman" id="congressman">
        <option *ngFor="let item of congressmen; let c = index" [value]="item.id">
          {{ item.name }}
        </option>
      </select>

      <button type="submit" id="voteBtn">Vote</button>
    </form>


  </div>
</div>
