<div class="header">
  <div class="title">
    <a href="">Voting App</a>
  </div>

  <div class="nav-items">
    <router-outlet></router-outlet>
    <a (click)="navigateToCandidates()">Candidates</a>
    <a (click)="navigateToResults()">Results</a>
  </div>
</div>

<div class="container">
  <h1>Voter portal: select voter & Cast vote screen</h1>

  <div class="votingSection">
    <form (ngSubmit)="castVote()" [formGroup]="voteForm">

      <label for="candidate">Select Candidate</label>
      <select formControlName="candidate" id="candidate">
        <option *ngFor="let item of candidates; let c = index" [value]="item.id">
          {{ item.name }}
        </option>
      </select>

      <label for="voter">Select Voter</label>
      <select formControlName="voter" id="voter">
        <option *ngFor="let item of voters; let v = index" [value]="item.id">
          {{ item.name }}
        </option>
      </select>

      <button type="submit" id="voteBtn">Vote</button>
    </form>
  </div>
</div>
